.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers-cards .cards {
  color: var(--text--secondary--color);
  background-color: black;
  width: 312px;
  min-height: 288px;
  box-sizing: border-box; /*faz ele desconsiderar o padding, e ajustar para o tamanho de width e height desejado*/
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .cards header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0px;
  margin-bottom: 24px;
}

.offers-cards .cards header p {
  font-size: 20px;
  font-weight: var(--text--weight);
}
.offers-cards .cards header h3 {
  font-size: 40px;
  font-weight: var(--titles--weight);
  margin: 8px 0 0;
}
.offers-cards .cards header span {
  font-size: 32px;
  font-weight: var(--titles--weight);
  margin-top: 24px;
  display: inline-block;
}

.cards.japao {
  background: url(../img/BD-card-japao.jpg) no-repeat;
  background-size: cover;
}
.cards.san-andreas {
  background: url(../img/BD-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}
.cards.paraiba {
  background: url(../img/BD-card-paraiba.jpg) no-repeat;
  background-size: cover;
}
.cards.manaus {
  background: url(../img/BD-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards .cards {
    width: 420px;
    height: 308px;
  }

  .offers-cards .cards header h3 {
    font-size: 48px;
  }
  .offers-cards .cards header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .cards {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards  {
    width: 1250px;
    margin: 0 auto;
  }
}