.cards {
  color: var(--text--secondary--color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box; /*faz ele desconsiderar o padding, e ajustar para o tamanho de width e height desejado*/
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.cards header {
  display: block;
  background-color: transparent;
  position: static;
}

.cards header p {
  font-size: 20px;
  font-weight: var(--text--weight);
}
.cards header h3 {
  font-size: 40px;
  font-weight: var(--titles--weight);
}
.cards header span {
  font-size: 32px;
  font-weight: var(--titles--weight);
}
