@charset "UTF-8";

@font-face {
    font-family: "Unbonded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;/*quando demora pra carregar mostra a font normal ate atualizar */

}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;/*quando demora pra carregar mostra a font normal ate atualizar */
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #0E1014;
    color: #FFFFFF;
    font-size: 24pt;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    
}

h1{
    font-size: 64pt;
    font-family: "Unbounded", sans-serif;
}

h1 span{
    color: #9747FF;
}


a{
    color: #FFFFFF;
}
/*h1,p,a{
    color: #FFFFFF;
} outra opção */

